* {
    font-family: 'Source Sans Pro', sans-serif;
}

button {
    color: #fff !important;
    background: rgba(20, 0, 90, 0.671);
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
}

button:hover {
    background: #cc5e14;
    letter-spacing: 1px;
   -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

select,input {
    color: #cc5e14 !important;
    background: #ffffff;
    padding: 20px;
    border: 1px solid #cc5e14 !important;
    border-radius: 6px;
    display: inline-block;
}

select,input:hover {
    color: rgba(20, 0, 90, 0.671) !important;
    border-radius: 15px;
    border-color: rgba(20, 0, 90, 0.671) !important;
    transition: all 0.3s ease 0s;
}

a {
    color: #fff !important;
    background: #cc5e14;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    text-decoration: none;
}

a:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.4s ease 0s;
}