* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  background-color: #c4c2bf;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  background-attachment: fixed;
}

p {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color:  rgba(20, 0, 90, 0.671);
  font-size: 100px;
  text-align: center;
}

h1{
  margin: 0;
  padding: 0;
  line-height: 1.2em;
}
  
h2{
  padding-left: 10px;
  height: 90px;
  overflow: hidden;
}  
  
.container {
  padding-left: 60px;
  padding-right: 60px;
  width: 100%;
}
  
nav {
  height: 60px;
  background-color: orange;
  width: 100%;
  position: fixed;
}
  
.stc {
  font-size: 150%;
  position: fixed;
}
  
.il{
  display: inline-block;
  margin-top: 5px;
  position: fixed;
  padding-top: 10px;
}

main {
  padding-top: 100px;
}
  
main .row {
  margin-bottom: 20px;
}
  
.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;
}
    
.card-image{
  width: 100%;
}
  
.card{
  border: solid grey 1px;
  background-color: rgba(117, 117, 117, 0.671);
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hidden{
  display:none;
}

.error-message{
  color: red;
  font-display: bold;
}